h1{
    color: #76640b;
   text-align: end;
}
h2{
    color: rgb(171, 231, 7);
    text-align: center;
}
h3{
    color: blueviolet
    
}
h4{
    color: #76640b;
  
}
h5{
    color: rgb(171, 231, 7);
    text-align: center;
}
h6{
    color: blueviolet;
    text-align: end;

}